*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
background-color: aqua;

font-size: 15px;
font-weight: normal;
font-family: moncerat, sans-serif;
}
 .header{
background-color: coral;
width: 100%;
height: 600px;
background: url(../kangaroo-6803201__340.webp ) no-repeat center center;
background-size: cover;
 }
 .header-top{
display: flex;
justify-content: space-between;
 }
 ul>li{
     display:flex;
     justify-content: space-between;
     align-items: baseline;
 

 }
.menu{
width: 450px;
height: 70px;
display: flex;
justify-content: space-between;
align-items: center;
}

h1,h2,p{
color: brown;
    text-align: center;
}
.line{
height: 10px;
width: 40px;
background-color: rgb(0, 0, 0);
display: flex;
align-self: center;

}
.bloch{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.main{
width: 100%;
height: 300px;
background-color: sandybrown;

}



.footer{
    background-color: red;
    width: 100%;
    height: 300px;
}

.parents{
width: 100%;

display: flex;
justify-content: space-between;
padding: 15px;
margin: 20px;
}

.hrader{
    width: 100%;
    height: 100%;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: cadetblue;
    font-size: 60px;
}

.K{
    background-color: coral;
}
.qwe{
    border: 2px saddlebrown;
    width: 100%;
    height: 1000px;
    margin-top: 100px;
    display: flex;
    align-items: center;
}
.qwe1{
    border-right: slategray;
    width: 1000px;
    height: 1000px;
}
.qwe2{
    width: 1000px;
    height: 1000px;
}

.container{
height: 200px;
width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aqua;
}