body{background-color: rgb(6, 4, 119);}
h1{text-align: center;
color: rgb(0, 255, 170);}

@media only screen and (min-width : 320px) and (max-width : 480px){

}

*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

.papa{
padding: 60px;
margin: 60px;
color: rgb(95, 243, 9);
text-size-adjust: 50px;
}
A {
    color: rgb(17, 247, 17); /* Цвет ссылок */
   }
   A:visited {
    color: #cecece; /* Цвет посещенных ссылок */
   }
   A:active {
    color: rgb(1, 240, 1); /* Цвет активных ссылок */}

    .kid{
        padding: 60px;
margin: 60px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
    }
    