*{
padding: 0;
margin: 0;
box-sizing: border-box;;
}
body{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M628.9224609332016 496.3366928502026L687.8114042047572 587.0177133501356 778.4924247046902 528.12877007858 719.6034814331346 437.447749578647z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M115.72445045462966 454.00729905940983L126.94875211390195 545.4219001846129 218.36335323910498 534.1975985253406 207.1390515798327 442.78299740013756z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1426.8761408123055 222.46092491420754L1326.2485086205538 106.47902167063685 1280.3401056573425 232.61132217528368z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1232.952%2c522.598C1258.786%2c521.019%2c1280.363%2c505.99%2c1294.417%2c484.256C1310.096%2c460.009%2c1321.729%2c430.768%2c1309.135%2c404.784C1295.158%2c375.947%2c1264.978%2c356.298%2c1232.952%2c357.437C1202.475%2c358.521%2c1180.556%2c383.306%2c1165.611%2c409.889C1151.04%2c435.807%2c1141.68%2c467.136%2c1156.93%2c492.66C1171.902%2c517.718%2c1203.816%2c524.379%2c1232.952%2c522.598' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M718.859%2c422.513C774.652%2c419.786%2c819.174%2c378.536%2c843.663%2c328.33C865.237%2c284.101%2c856.073%2c233.876%2c831.731%2c191.108C807.07%2c147.78%2c768.667%2c111.225%2c718.859%2c109.054C665.51%2c106.729%2c616.205%2c135.403%2c587.554%2c180.466C556.491%2c229.321%2c543.358%2c290.773%2c570.964%2c341.661C599.678%2c394.592%2c658.713%2c425.453%2c718.859%2c422.513' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M797.323%2c222.047C835.445%2c223.133%2c869.75%2c197.517%2c886.383%2c163.198C901.252%2c132.519%2c888.5%2c98.504%2c871.531%2c68.935C854.457%2c39.184%2c831.603%2c9.248%2c797.323%2c8.012C761.405%2c6.717%2c730.224%2c31.559%2c713.229%2c63.228C697.147%2c93.196%2c700.723%2c128.306%2c716.638%2c158.363C733.822%2c190.817%2c760.615%2c221.001%2c797.323%2c222.047' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M897.738%2c735.646C951.535%2c739.262%2c1010.194%2c733.244%2c1041.343%2c689.234C1076.974%2c638.892%2c1086.401%2c568.497%2c1052.518%2c516.962C1020.818%2c468.748%2c955.433%2c469.895%2c897.738%2c470.818C842.352%2c471.704%2c778.558%2c473.555%2c751.306%2c521.781C724.292%2c569.586%2c753.065%2c626.633%2c784.087%2c671.94C810.384%2c710.347%2c851.296%2c732.524%2c897.738%2c735.646' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

h1{
    text-align: center;
    color: aquamarine;
    padding: 20px;
}
.header{
    margin: 15px;
  padding: 20px;
  color: mediumspringgreen;
}
.menu{
    margin: 15px;
    padding: 20px;
    color: rebeccapurple;
}

.footer{
    margin: 15px;
    padding: 20px;
    color: mediumspringgreen;
}
ul{
    margin: 5px;
    padding: 5px;
    color:mediumspringgreen;
}