*{
padding: 0;
margin: 0;
box-sizing: border-box;;
}
body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1519%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='url(%23SvgjsLinearGradient1520)'%3e%3c/rect%3e%3cpath d='M -1839.3746521643259%2c278 C -1551.37%2c319.2 -975.37%2c450.6 -399.3746521643258%2c484 C 176.63%2c517.4 672.75%2c411.8 1040.6253478356741%2c445 C 1408.5%2c478.2 1360.13%2c609 1440%2c650' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -2794.3794854183434%2c580 C -2506.38%2c512.6 -1930.38%2c262.2 -1354.3794854183432%2c243 C -778.38%2c223.8 -473.26%2c445 85.62051458165683%2c484 C 644.5%2c523 1169.12%2c447.2 1440%2c438' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -768.4903392093198%2c685 C -480.49%2c618.8 95.51%2c348 671.5096607906802%2c354 C 1247.51%2c360 1957.81%2c697.8 2111.5096607906803%2c715 C 2265.21%2c732.2 1574.3%2c495 1440%2c440' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1519'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1520'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(17%2c 255%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

h1{
    text-align: center;
    color: aquamarine;
    padding: 20px;
}
.header{
    margin: 15px;
  padding: 20px;
  color: mediumspringgreen;
}
.menu{
    margin: 15px;
    padding: 20px;
    color: mediumspringgreen;
}

.footer{
    margin: 15px;
    padding: 20px;
    color: mediumspringgreen;
}
ul{
    margin: 5px;
    padding: 5px;
    color:mediumspringgreen;
}
h2{
    color:rgb(16, 211, 185) ;
}

@media only screen and (min-width : 350px) and (max-width : 500px){

}

h3{
text-align: center;
color:aquamarine ;

}

.kol{
display: flex;
justify-content: center;
color: aquamarine;

}
.center{
    
        display: block;
        margin: 0 auto
}