*{padding: 0;
margin: 0;
box-sizing: border-box 0;}


body{
    color: black;
    background-color: ghostwhite;
}

ul{display: flex;
justify-content: space-between;
padding:  0 252px;
margin: 23px;
font-style: Bold;
list-style-type: none;
}



hr{margin: 0 250px;justify-content:center ;}

.name{
    height: 117px;
    width: 124px;
    justify-content: center;
    text-align: center;
    margin: 0 251px;
    padding: 40.36px 0 ;
    
}

.text{height: 50px;
    width: 155px;
text-align: center;
padding:  76px 0 ;
}

.text-center{display: flex;

justify-content: space-between;}